# dependencies
node_modules
.pnpm-store

# build
dist
dist-ssr
.turbo
*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.next

# os
.DS_Store
Thumbs.db

# test
coverage
